'.tex':
  'no indent':
    'prefix': 'noin'
    'body': '\\\\noindent $0'
  'Document style essay':
    'prefix': 'essaystyle'
    'body': """
\\\\documentclass[12pt]{article}
\\\\usepackage{fancyhdr}     % Enhanced control over headers and footers
\\\\usepackage[T1]{fontenc}  % Font encoding
\\\\usepackage{mathptmx}     % Choose Times font
\\\\usepackage{microtype}    % Improves line breaks
\\\\usepackage{setspace}     % Makes the document look like horse manure
\\\\usepackage{lipsum}       % For dummy text
\\\\usepackage{geometry}     % For Margins
\\\\usepackage{soul, xcolor} % Makes highlighting text possible
\\\\usepackage{graphicx}     % For images
\\\\usepackage{amsmath}      % For nice-looking equations
\\\\graphicspath{ {/home/mu/images/} }  % image directory

\\\\newcommand{\\\\EssayTitle}{$5}

\\\\pagestyle{fancy} % Default page style
\\\\renewcommand{\\\\headrulewidth}{1pt}
\\\\renewcommand{\\\\footrulewidth}{1pt}
\\\\fancyhead[L]{Abram Chen}
\\\\fancyhead[R]{\\\\thepage}
\\\\fancyhead[C]{\\\\EssayTitle}
\\\\cfoot{}

% Length to control the \\\\fancyheadoffset and the calculation of \\\\headline
% simultaneously
\\\\newlength\\\\FHoffset
\\\\setlength\\\\FHoffset{0cm}

\\\\addtolength\\\\headwidth{2\\\\FHoffset}

\\\\fancyheadoffset{\\\\FHoffset}

% these lengths will control the headrule trimming to the left and right
\\\\newlength\\\\FHleft
\\\\newlength\\\\FHright

% here the trimmings are controlled by the user
\\\\setlength\\\\FHleft{0cm}
\\\\setlength\\\\FHright{-1.475cm}

% The new definition of headrule that will take into acount the trimming(s)
\\\\newbox\\\\FHline
\\\\setbox\\\\FHline=\\\\hbox{\\\\hsize=\\\\paperwidth%
  \\\\hspace*{\\\\FHleft}%
  \\\\rule{\\\\dimexpr\\\\headwidth-\\\\FHleft-\\\\FHright\\\\relax}{\\\\headrulewidth}\\\\hspace*{\\\\FHright}%
}
\\\\renewcommand\\\\headrule{\\\\vskip-.7\\\\baselineskip\\\\copy\\\\FHline}

\\\\thispagestyle{empty} % First page style

\\\\setlength\\\\headheight{15pt} % Slight increase to header size
\\\\geometry{letterpaper, margin=1in}

\\\\begin{document}
\\\\noindent{Abram Chen} \\\\newline
\\\\noindent{$1} \\\\newline % Class
${2:\\\\noindent{${3:}\\} \\\\newline }% Period
\\\\noindent{$4} \\\\newline % Teacher
\\\\noindent{\\\\today}
\\\\vspace{0.5cm}
\\\\begin{center}
\\\\begin{tabular}{c}
\\\\Large \\\\bf{\\\\EssayTitle}
\\\\end{tabular}
\\\\end{center}
\\\\doublespacing

$0

\\\\end{document}
"""
  'notesstyle':
    'prefix': 'notesstyle'
    'body': """
\\\\documentclass[11pt, twoside, letterpaper]{article}
\\\\usepackage[margin=1.25cm, footskip=0.75cm]{geometry}
\\\\usepackage{soul, xcolor}     % Makes highlighting text possible
\\\\usepackage{amsmath}          % Makes nice-looking equations possible
\\\\usepackage{graphicx}         % For images
\\\\graphicspath{ {/home/mu/images/} }  % image directory


\\\\title{$1}
\\\\author{Abram Chen}
\\\\makeatletter
\\\\renewcommand{\\\\maketitle}{\\\\bgroup\\\\setlength{\\\\parindent}{0pt}
\\\\Large{\\\\textbf{\\\\@title}}

\\\\large{\\\\@author} - \\\\large{\\\\today}
\\\\egroup
\\\\noindent
}
\\\\renewcommand{\\\\\\\\}{
\\\\newline
\\\\vspace{0cm} \\\\newline
\\\\noindent
}
\\\\raggedbottom
\\\\begin{document}
\\\\maketitle
$0
\\\\end{document}
"""
  'new line with space':
    'prefix': '-'
    'body': """
\\\\newline
\\\\vspace{0cm} \\\\newline
\\\\noindent $0
"""
  'New section':
    'prefix': 'sctn'
    'body': """
    \\\\section$1{$2}
    $3
"""
  'Numbered List':
    'prefix': 'num'
    'body': """

    \\\\begin{enumerate}
    \\\\item $0
    \\\\end{enumerate}
"""
  'Bulleted List':
    'prefix': 'bul'
    'body': """

    \\\\begin{itemize}
    \\\\item $0
    \\\\end{itemize}
"""
  'New item (numbered and bullet lists)':
    'prefix': 'i-'
    'body': """

    \\\\vspace{-0.2cm}\\\\item $0
"""
  'Bold Font':
    'prefix': 'bf'
    'body': '\\\\textbf{$1} $0 '
  'Highlighted Font':
    'prefix': 'hl'
    'body': '${1:\\\\sethlcolor\\{$2\\}}\\\\hl{$0}\\\\sethlcolor{yellow} '
  'Quote':
    'prefix': 'qt'
    'body': '``$1\'\' $0'
  'Insert image':
    'prefix': 'img'
    'body': '\\\\includegraphics${1:[scale=$2]}\\{$3\\} $0'
  'Inline math environment':
    'prefix': '$'
    'body': '$$1$ $0'
